@model IEnumerable<DbMasterD.Models.Candidate>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary btn-sm mb-2" asp-action="Create" asp-controller="Candidates"><i class="fa fa-plus-circle"></i></a>
        </div>
        @foreach (var item in Model)
        {
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <img src="@item.Image" width="35" class="rounded-circle" />
                        <b>Name :</b> @Html.DisplayFor(x => item.CandidateName)
                        <b>Date of Birth :</b> @Html.DisplayFor(x => item.DateOfBirth)
                        <b>Phone :</b> @Html.DisplayFor(x => item.Phone)
                        <b>Fresher :</b> @Html.DisplayFor(x => item.Fresher)
                    </div>
                    <div>
                        <a asp-action="Edit" asp-controller="Candidates" asp-route-id="@item.CandidateId" class="btn btn-outline-primary"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Delete" asp-controller="Candidates" asp-route-id="@item.CandidateId" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr class="fw-bold">
                                <th>Skill Id</th>
                                <th>Skills</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in item.CandidateSkills)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => i.SkillId)</td>
                                    <td>@Html.DisplayFor(x => i.Skill.SkillName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

