<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("Styles", false)
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: .90em;
        }
    </style>
    <script>
        function LoadData(skillId = null) {
            var skillContainer = $("#skillContainer");
            $.ajax({
                url: "/Candidates/AddNewSkills/" + skillId ?? "",
                type: "GET",
                success: function (data) {
                    skillContainer.append(data);
                }
            });
        }
        $(document).on("click", "#btnPlus", function (e) {
            e.preventDefault();
            LoadData();
        });

        $(document).on("click", "#deleteSkill", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });
    </script>
</head>
<body>
    <div class="container my-3">
        <nav class="nav nav-pills bg-success">
            <a asp-action="Index" asp-controller="Home" class="nav-link active">Home</a>
           @*  <a asp-action="Index" asp-controller="Skills" class="nav-link text-light">Skill</a> *@
            <a asp-action="Index" asp-controller="Candidates" class="nav-link text-light">Candidates</a>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="text-center">&copy; @DateTime.Now.Year - www.isdb-bisew.org</p>
    </footer>
    <environment include="Development, Production">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    @RenderSection("Scripts", false)

</body>
</html>
